{% load otree_tags staticfiles %}

<div class="instructions well well-lg">
    <p>
        In module 2 you will see a picture puzzle for 30 seconds. You can earn money by indicating how many cows are in the picture. Once the {{ Constants.word_puzzle_seconds }} seconds pass, the picture will disappear.
    <p>
    <P>
        After the 30 seconds you will see a pull-down menu.  The number of cows you select on the pull-down menu will earn you money.   Your earnings will be 100 ECUs times the number you select in the pull-down menu.  So, for example, if you select two cows you earn 200 ECUS. Press the button to start.
        <br>
        Press the button to start.
    </p>
</div>
