{% load otree_tags staticfiles %}

<div class="instructions well well-lg">
    <p>
       In model 2 you will see a word search for {{ Constants.word_puzzle_seconds }} seconds.
    <p>
    <p>
        Once the {{ Constants.word_puzzle_seconds }} seconds pass,the alphabet image will disappear.
    </p>
    <p>
        You must find words in English that have 4 or more letters. Words they can be horizontal, vertical, or diagonal, and to the right or the other way around.
    </p>
    <p>
        After the {{Constants.word_puzzle_seconds}} seconds you should indicate how many English words of
        4 or more letters you managed to find. You will not have to say which, but only how many you found.
    </p>
    <p>
       You will get 1 point for every valid word you find.
    </p>
    <p>
        Press the button to start.
    </p>
</div>