{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Payment Information
{% endblock %}

{% block content %}
<p>
    This is the end of the survey.
    <br>
    Your payment:
   <br>
    Addition calculation:
    <br>
    part 1 addition calculus: {{ part1 }},
    <br>
    part 3 word search puzzle: {{ part3 }},
    <br>
    taking second round: {{ second }},
    <br>
    completion compliment: {{ completion }}
    <br>
    total: {{ total }}
</p>

    {% next_button %}

{% endblock %}
