{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Payment Information
{% endblock %}

{% block content %}

<p>
    This is the end of the survey.
    <br>
    Your payment:
    <br>
    part 1 addition calculus: {{ part1 }},
    <br>
    part 2 die roll: {{ part2 }},
    <br>
    part 3 word search puzzle: {{ part3 }}
    <br>
    {{ msg }}
    <br>
    Total payoff is {{ total }}
</p>
<p>You will be redirected to a short survey in 10 seconds.</p>

<meta http-equiv="refresh" content={{ player.link }}>

{% endblock %}
